<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="x" name="x" class="com.xx.spring.service.impl.X" autowire="constructor"/>

	<bean id="iy" name="iy" class="com.xx.spring.service.impl.Y"/>
	<bean id="iz" name="iz" class="com.xx.spring.service.impl.Z"/>

	<bean id="myBeanFactoryPostProcessor" name="myBeanFactoryPostProcessor"
		  class="com.xx.spring.config.MyBeanFactoryPostProcessor"/>

</beans>